body {
font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
background-color: #E8E8E8;
color: #4545bb;
}

h1 {
text-align: center;
text-transform: uppercase;
font-size: 58px;
text-shadow: 0px 0px 6px rgb(0 0 0 / 35%);
}

h2 {
text-align: center;
text-transform: uppercase;
font-size: 28px;
text-shadow: 0px 0px 6px rgb(0 0 0 / 35%);
}

.title {
text-transform: uppercase;
font-size: 20px;
text-align: center;
font-weight: bold;
}

.alinks {
text-decoration: none!important
}

.mainbody {
margin-left: auto;
margin-right: auto;
width: 1000px;
border-top: 6px solid #4545bb;
border-bottom: 6px solid #4545bb;
border-radius: 10px;
margin-top: 50px;
padding-bottom: 50px;
}

.menu-area {
width: 193px;
margin-left: auto;
margin-right: auto;
}

.padding50 {
padding-bottom: 50px;
}

.padding15 {
padding-bottom: 15px;
}


.menu_button {
text-decoration: none;
padding: 10px;
background: white;
width: 200px!important;
text-align: center;
font-size: 18px;
font-weight: bold;
text-transform: uppercase;
border-radius: 7px;
background-color: #4545bb;
color: #E8E8E8;
border:3px solid #4545bb;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
}

.menu_button:hover {
background-color: #E8E8E8;
color: #4545bb;
box-shadow: 0px 0px 6px rgb(0 0 0 / 35%);
border:3px solid #4545bb;
cursor: pointer;
}

.errors {
color: red;
padding: 10px 29px;
margin-left: auto;
margin-right: auto;
width: 500px;
border-radius: 5px;
background-color: cornsilk;
font-weight: bold;
font-size: 14px;
line-height: 17px;
}

.form p {
margin-left: auto;
margin-right: auto;
text-align: center;
text-transform: uppercase;
font-weight: bold;
}

.profile {
font-size: 17px;
font-weight: bold;
}