<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbody">
    <h1>Magic Camp</h1>
    <div class="padding50"></div>
    <h2>Выбери гороскоп:</h2>
    <div class="padding15"></div>
    <div class="menu-area" style="width: fit-content!important;">

        <table border="0" cellpadding="1" cellspacing="9" style="width: 500px">
            <tbody>
            <tr>
                <td>
                    <a href="/horoscope/today" class="alinks">
                        <div class="menu_button">Посмотреть гороскоп на сегодня</div>
                    </a>
                </td>

                <td>
                    <a href="/horoscope/tomorrow" class="alinks">
                        <div class="menu_button">Посмотреть гороскоп на завтра</div>
                    </a>
                </td>

                <td>
                    <a href="/horoscope/week" class="alinks">
                        <div class="menu_button">Посмотреть гороскоп на неделю</div>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>