<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbody">
    <h1>Magic Camp</h1>
    <div class="padding50"></div>
    <h2>Гороскоп на сегодня:</h2>
    <div class="padding15"></div>
    <div class="menu-area" style="width: fit-content!important;">

        <table border="0" cellpadding="1" cellspacing="9" style="width: 500px">
            <tbody>
            <tr>
                <td>
                    <div th:text="${signZodiac}" class="title"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div th:text="${bodyOfHoroscope}" class="text-of-page"></div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="padding15"></div>

        <a href="/choose-horoscope" class="alinks">
            <div class="menu_button" style="margin-right: auto;margin-left: auto;">Назад</div>
        </a>

        <div class="padding15"></div>

        <a href="/" class="alinks">
            <div class="menu_button" style="margin-right: auto;margin-left: auto;">В главное меню</div>
        </a>

    </div>
</div>
</body>
</html>