<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="mainbody">
    <h1>Magic Camp</h1>
    <div class="padding50"></div>
    <h2>Расчет нумерологии имени:</h2>
    <div class="padding15"></div>
    <div class="menu-area" style="width: fit-content!important;">

        <table border="0" cellpadding="1" cellspacing="9" style="width: 550px">
            <tbody>
            <tr>
                <td>
                    <div class="text-of-page">
                        <br/><br/>
                        <div th:text="'Ваше персональное число: ' + ${numberOfUser}" class="title"></div>
                        <br/><br/>
                        <details>
                            <summary class="spoiler">Единица</summary>
                            <p>«<b style="text-decoration:underline">1</b>». Единица – выступает числом созидания, это начало всех начал. Для людей, чьи имена соответствуют единице, присущи сильные лидерские качества, они часто берут на себя роль первооткрывателей в различных сферах деятельности, имеют огромный творческий потенциал.
                                Для таких личностей характерна экстраординарность, они обладают аналитическим складом ума, но ко всему в жизни склонны подходить очень творчески.
                                Единицам свойственно иметь свое собственное мнение по любым вопросам и максимально его проявлять, не придерживаясь при этом никаких фирменных шаблонов.
                                От чего чаще всего страдают люди-единицы? От эксцентричности, эгоистичности, доминирования над окружающими. Нужно работать над собой для устранения этих негативных проявлений.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Двойка</summary>
                            <p>«<b style="text-decoration:underline">2</b>». Двойка – выступает самым женственным числом из всех чисел имени. У двоек очень сильно развиты интуитивные способности, они отличаются повышенной чувствительностью, эмоциональностью, нежностью, склонны проявлять сострадание по отношению к окружающим. Также для этих людей характерен миролюбивый характер, наблюдательность, тактичность и терпеливость, но при этом они склонны выдвигать очень высокие требования к окружающим людям.
                                Очень часто «двойки» становятся экстрасенсами. Также они очень тонко знают психологию других людей и правильно интерпретируют, что движет поступками тех или иных людей.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Тройка</summary>
                            <p>«<b style="text-decoration:underline">3</b>». Тройка – несет в себе энергию коммуникабельности и сильную харизму, а также оптимистический настрой. Такие люди являются известными весельчаками.
                                Они обычно реализуются в тех областях жизни, в которых присутствует коммуникация с окружающими. За счет своей высокой общительности им довольно просто контактировать с окружающими, вступать с ними в контакты.
                                Из профессий для таких людей подойдет: продавец-консультант, маркетолог, журналист, риэлтор и так далее.
                                Но «тройки» по своей природе часто страдают от нетерпеливости и поверхностного отношения к проблемам. Им очень сложно всегда завершать начатые дела.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Четверка</summary>
                            <p>«<b style="text-decoration:underline">4</b>». Четверка – данное число выступает олицетворением силы, стабильности, надежности и пунктуальности. Четверки склонны много работать, и они обязательно достигают всех целей, которые перед собой ставят.
                                Они обладают сильной энергетикой, а также имеют хорошую физическую форму. Из типичных черт характера их легко узнать по скромности, аккуратности, строгости, дисциплинированности и опрятному внешнему виду.
                                Если говорить о внешнем виде, то для четверок характера консервативность – они не стремятся выделиться из толпы, так как не очень любят повышенное внимание к своей персоне.
                                Но если вы встанете на пути у такой личности, она приложит все усилия, чтобы избавиться от вас и добиться своей цели при помощи любых способов.
                                Четверок невозможно заставить изменить свои принципы с моральными убеждениями, ведь они свято верят в свою правоту. Из них получаются отличные организаторы, им легко дается административная деятельность. Очень большое количество «четверок» выбирает для себя профессии военных и священнослужителей.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Пятерка</summary>
                            <p>«<b style="text-decoration:underline">5</b>». Пятерка – число философское и созерцательное. Данное число имени наделяет своего обладателя высоким интеллектом, творческими способностями, страстью к свободе, а также дарит аналитический склад ума и умение мыслить нестандартно, выгодно выделяясь на фоне окружающих.
                                Пятеркам важно получат стабильность, но при этом чувствовать себя свободными. Они терпеть не могут, когда на них начинают давить окружающие, ставя перед ними какие-либо ограничения. Тогда они проявляются нетерпение и начинают нервничать.
                                Для людей с этим числом имени характерна постоянная деятельность, любознательность, они очень смелые и непредсказуемые. Теряют энергию в условиях рутины, поэтому всеми силами стараются обеспечить себе постоянные перемены.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Шестерка</summary>
                            <p>«<b style="text-decoration:underline">6</b>». Шестерка – для этого числа характерно проявление заботы, ответственности, дисциплинированности, плюс данные личности склонны к романтике. Они очень хорошо относятся к детям и животным, склонны заботиться об окружающих, из них получаются хорошие семьянины.
                                Их отличается лояльность по отношению к окружающим, доброта и щедрость, особенно это проявляется с родственниками и друзьями. Всегда стараются максимально облегчить жизнь своему окружению и в трудную минуту обязательно протянут руку помощи. У «шестерок» сильно развито чувство долга, они испытывают наслаждение, когда доставляют положительные эмоции другим людям.
                                Символом числа «шесть» выступает ответственность и помощь, достигаемые любовью, переживаниями и защитой. У людей с данным числом имени всегда имеется свое мнение на любой счет, их невозможно ни в чем переубедить, несмотря на их чувственность и доброту.
                                Из негативных качеств можно назвать повышенную тревожность – часто беспокоятся из-за пустяков.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Семерка</summary>
                            <p>«<b style="text-decoration:underline">7</b>». Семерка – выступает символом мудрости и новых знаний. Для этих личностей характерна рациональность, гибкость ума и аналитическое мышление. Они постоянно ищут новые знания и истину.
                                «Семерки» часто страдают от одиночества, так как склонны много внимания уделять карьере. Они обладают неплохой интуицией, которая в некоторых случаях доходит до экстрасенсорных способностей.
                                Не очень заинтересованы в деньгах, поэтому никогда не примут решение для получения материальной выгоды. Семерок отличает замкнутость и упрямство, им необходимо получать любовь и признание от окружающих.
                                Из негативных моментов можно назвать эгоизм, цинизм и высокомерие. Они мало интересуются делами окружающих, больше концентрируясь на своих собственных.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Восьмерка</summary>
                            <p>«<b style="text-decoration:underline">8</b>». Восьмерка – число баланса между материальными благами и духовными убеждениями. В отличие от «семерок», восьмеркам очень важна финансовая выгода. Но они достаточно щедрые и используют деньги в качестве средства, чтобы достичь определенных целей.
                                Они заинтересованы в богатстве, власти, финансах, но если будут игнорировать свое духовное развитие, то столкнутся с неудачами и неприятностями.
                                «Восьмерок» отличается целеустремленность и реализм, а также выраженные качества лидера. Они являются авторитетными личностями, нередко занимают руководящие должности.
                                Из положительных черт характера выделяется верность, надежность и честность, уверенность в себе, амбициозность, любят рисковать. Склонны проявлять сдержанность и могут быть застенчивыми. Они идут к своим целям постепенно, но уверенно. Восьмеркам очень важно, чтобы их любили, признавали их заслуги и усилия, восхищались результатом их трудов.
                                Имеют спортивные увлечения, хорошо развитое тело, отличаются силой и выносливостью.
                                Из негативных черт характера: могут проявлять алчность и быть чересчур амбициозными.</p>
                        </details>
                        <br/>
                        <details>
                            <summary class="spoiler">Девятка</summary>
                            <p>«<b style="text-decoration:underline">9</b>». Девятка – для данного числа имени характера энергия борьбы, а также альтруизм и доброжелательное отношение к окружающим. Люди-девятки по своей природе лидеры, которые очень четко чувствуют ответственность, но в то же время в душе являются романтиками. Они получают удовольствие, когда проявляют заботу об окружающих, хотя им часто самим не достает поддержки и заботы.
                                «Девятки» обладают высоким интеллектом, творческими способностями, у них сильно развито чувство справедливости, тяга к искусству. Они находят красоту в любых ее проявлениях. Реализоваться такие личности могут в сфере искусства, медицины, религии, философии и метафизики.
                                Делают акцент на доверии, верности, являются хорошими друзьями. Отлично ладят с окружающими.
                                Девятка в нумерологии представляет собой уникальное число. Она поглощает все цифры, которые умножаются на нее. К примеру, умножая на 9 любое число и прибавляя цифры полученного результата, вы по итогу получите девятку.
                                К примеру, 6х9 =54 = 5+4=9.
                                По аналогии: 26х9=234=2+3+4=9.
                                Представители числа девять всегда добиваются своих целей и побеждают при любых условиях.</p>
                        </details>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="padding15"></div>

        <a href="/" class="alinks">
            <div class="menu_button" style="margin-right: auto;margin-left: auto;">В главное меню</div>
        </a>

    </div>
</div>
</body>
</html>